{% extends './global_template.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


<div class="row" style = "margin-top:100px">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <h1 class = "display-4" >Group Page</h1>
        <div style = "margin-top:50px">
            <div class="shadow-sm p-3 mb-5 bg-white rounded">Group Name: {{group.group_name}}</div>
            <div class="shadow-sm p-3 mb-5 bg-white rounded">Discord Link: {{group.group_name}}</div>

            <form>
            <button formaction = "{% url 'studyforum:courseenrollment' %}" class = "btn btn-block btn-primary">Join Group</button>
            </form>
            <form style = "margin-top:20px">
            <button formaction = "{% url 'studyforum:courseremoval' %}" class = "btn btn-block btn-primary">Make Announcment</button>
            </form>
            <form style = "margin-top:20px">
            <button formaction = "{% url 'studyforum:courseremoval' %}" class = "btn btn-block btn-primary">Edit Group Page</button>
            </form>
        </div>
    </div>
    <div class="col-md-5">
<div class="card">
  <div class="card-header display-4 shadow-sm" style = "font-size:60px">
    Groupmembers
  </div>

{% for member in member_list %}
  {% if member.group_id == group.id%}
    <div class="card-body card-border-light">
    <blockquote class="blockquote mb-0">
      <p>Name: {{member.first_name}}</p>
    </blockquote>
  </div>
  {% endif %}
  {% endfor%}

</div>
<div class="card" style = "margin-top:40px">
  <div class="card-header display-4 shadow-sm" style = "font-size:60px">
    Announcements
  </div>
  <div class="card-body card-border-light">
    <blockquote class="blockquote mb-0">
      <p>{{group.group_name}}</p>
      <footer>{{group.group_description}}</footer>
    </blockquote>
  </div>
</div>
    </div>
    <div class="col-md-1"></div>
</div>
    </body>

    <style>

  .card-border-light {
    border-bottom: solid;
    border-color:lightgray;
}
    </style>
    </html>
    {% endblock %}