{% extends './global_template.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


<div class="row" style = "margin-top:100px">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <h1 class = "display-4" >Group Page</h1>
        <div style = "margin-top:50px">
            <div class="shadow-sm p-3 mb-5 bg-white rounded">Group Name: {{group.group_name}}</div>
            <div class="shadow-sm p-3 mb-5 bg-white rounded">Discord Link: {{group.discord_link}}</div>
            <form>
            <button formaction="{% url 'studyforum:joingroup' user_id=user.id group_id=group.id %}" class = "btn btn-block btn-primary">Join Group</button>
            </form>
            {% if user.id == group.creator %}
            <form style = "margin-top:20px">
            <button formaction = "{% url 'studyforum:editgroup' group_id=group.id %}" class = "btn btn-block btn-primary">Edit Group Page</button>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="col-md-5">
<div class="card">
  <div class="card-header display-4 shadow-sm" style = "font-size:60px">
    Groupmembers
  </div>
{% for member in member_list %}
  {% if member.group_id == group.id%}
    <div class="card-body card-border-light">
    <blockquote class="blockquote mb-0">
      <a href="{% url 'studyforum:profile_page' id=member.member_id%}">Username: {{member.first_name}}</a>
      <p>Name: {{member.user_first}} {{member.user_last}}</p>
    </blockquote>
  </div>
  {% endif %}
  {% endfor%}

</div>
<!--
<div class="card" style = "margin-top:40px">
  <div class="card-header display-4 shadow-sm" style = "font-size:60px">
    Announcements
  </div>
  <div class="card-body card-border-light">
    <blockquote class="blockquote mb-0">
      <p>{{group.group_name}}</p>
      <footer>{{group.group_description}}</footer>
    </blockquote>
  </div>
</div>
!-->
    </div>
    <div class="col-md-1"></div>
</div>
    </body>

    <style>

  .card-border-light {
    border-bottom: solid;
    border-color:lightgray;
}
    </style>
    </html>
    {% endblock %}