{% extends './global_template.html' %}
{% block content %}
  <div class = "container my-3">
      <nav class = "breadcrumb">
        <h6 class = "breadcrumb-item-active">Current Group Posts</h6>
      </nav>
      <div class = "row">
          <div class="col-12 col-xl-9">

          </div>
      </div>
  </div>
<div class = "row">
  <div class ="col-md-3"></div>
  <div class = "col-md-6">
        {% for group in group_list %}
        <div class="card z-depth-0 bordered" style = "margin-top: 35px">
                <div class="card-header">

                  <h5 style = "margin-top:15px" class="card-title">
                  {{group.group_name}}
                  </h5>
                </div>
                <div class="card-body" id ="card-four">
                  Description: 
                  <p style = "border-bottom: solid">
                  {{group.group_description}}                  
                  </p>
                  Discord Link:
                  <p>
                  
                  {{group.discord_link}}
                  </p>
                  <ul class="list-group list-group-flush">
                  <h5 style = "margin-top:15px" class="card-title">
                  Groupmembers:
                  </h5>
                  {% for member in member_list %}
                  {% if member.group_id == group.id %}
                      <li class="list-group-item">{{member.first_name}}</li>
                  {% endif %}
                  {% endfor %}
                    </ul>


                  <h1>
                    <form>
                      <button formaction="{% url 'studyforum:joingroup' user_id=user.id group_id=group.id %}" class = "btn btn-block btn-primary big-button">Join Group</button>
                    </form>
                  </h1>
                </div>

              </div>
        {% endfor %}
        </div>
        <div class = "col-md-3"></div>
  </div>
    <!--<button onclick = "location.href='/accounts/google/login/?process=login'" class = "btn btn-block btn-primary big-button">Create New Post</button>-->
    <div class = "row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
    <form>
    <button formaction="{% url 'studyforum:groupsubmit' %}" class = "btn btn-block btn-primary big-button">Create New Group</button>
    </form>
    </div>
    <div class="col-md-4"></div>
    </div>
    <!--href="{% url 'studyforum:index' %}"-->
    {% endblock%}

