{% extends './global_template.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<div class = "row" style = "margin-top: 100px;">
    <div class = "col-md-4"></div>
    <div class = "col-md-4">
    {% if user.is_authenticated %}
    <h1>Welcome! </h1>
    <h1>{{ user.first_name }}</h1>
    <a href="{% url 'studyforum:profilepage' id=user.id %}">Profile</a>
    <h1>Login successful!</h1>
    
    {% else %}
    <h1>Login Page</h1>
    <button onclick = "location.href='/accounts/google/login/?process=login'" class = "btn btn-block btn-primary big-button">Please Login With Google Here!</button>
    {% endif %}
    </div>
    <div class = "col-md-4"></div>
</div>
</body>




</html>
{% endblock %}
