{% extends './global_template.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if user.is_authenticated %}
    <div class="container">
        <h2 style="text-align:center;"> </h2>
        <h2 class = "display-1" style="text-align:center;">Login Successful!</h2>
        <h2 class = "display-1" style="text-align:center;">Hello {{ user.first_name }}</h2>
        <h2 class="display-1" style="text-align:center;">Welcome to the Study Buddies Web Application</h2>
        <h2 style="text-align:center;"> </h2>
    </div>
    {% else %}
        <div class="container">
        <h2 style="text-align:center;"> </h2>
        <h2 class = "display-1" style="text-align:center;">Please Login!</h2>
        <button style= "margin-left:425px" onclick = "location.href='/accounts/google/login/?process=login'" class = "btn btn-primary big-button">Login With Google Here!</button>
        <h2 style="text-align:center;"> </h2>
    </div>
    {% endif %}
    </div>
</div>


</body>




</html>
{% endblock %}
