{% extends './global_template.html' %}


{% block content %}
  <div class = "container my-3">
      <nav class = "breadcrumb">
        <h6 class = "breadcrumb-item-active">Current Forum Posts</h6>
      </nav>

      <div class = "row">
          <div class="col-12 col-xl-9">
          </div>
      </div>
  </div>
<div class = "row">
  <div class ="col-md-2"></div>
  <div class = "col-md-8">
        {% for post in post_list %}
        <div style = "margin-top:50px" class="card z-depth-0 bordered">
                <div class="card-header">
                  <h7>Discord Link: {{post.discord_link}}</h7>
                  <h6>
                  Subject: {{post.subject}}
                  </h6>
                </div>
                <div class="card-body" id ="card-four">
                  <p class="card-text">{{post.content}}</p>
                    <form class = "pull-right"> 
                      <button formaction="{% url 'studyforum:postpage' post.id %}" class = "btn btn-primary pull-right">Visit Post</button>
                    </form>
                </div>

              </div>
        {% endfor %}
        </div>
        <div class = "col-md-2"></div>
  </div>
    <!--<button onclick = "location.href='/accounts/google/login/?process=login'" class = "btn btn-block btn-primary big-button">Create New Post</button>-->
    <div class = "row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
    <form>
    <button formaction="{% url 'studyforum:postsubmit' %}" class = "btn btn-block btn-primary big-button">Create New Post</button>
    </form>
    </div>
    <div class="col-md-4"></div>
    </div>
    <!--href="{% url 'studyforum:index' %}"-->
    {% endblock%}