{% extends './global_template.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "row" style = "margin-top: 100px;">
        <div class="container">
            <div class="row justify-content-center">
              <div class="col-8">
                <h1 class="mt-2">{{post.subject}}</h1>
                <p><a style="color: #6594ff" class="nav-link" href="{% url 'studyforum:profile_page' id=user.id %}">Go to user's profile</a></p>
                <hr class="mt-0 mb-4">
                <p>{{post.content}}</p>
                <form><button formaction="{% url 'studyforum:post' %}" class = "btn btn-block btn-primary big-button">Return to forum</button></form>
              </div>
            </div>
          </div>
    </div>
    </body>
    </html>
    {% endblock %}