{% extends './global_template.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="mx-3 my-3">
        <a href="{% url 'studyforum:post'  %}"><button  class="btn btn-primary btn-lg mt-3 ml-2"> Back to Posts</button></a>
    </div>
    <div class = "card mx-2" style = "margin-top: 100px;">
        <div class="card-body" id ="card-four">
            <div class="row">
                <h6 class="col-sm-4" >Username: {{post.username}}</h4>
                <h6 class="col-sm-4 " >Category: {{post.category}}</h4>
            </div>
            <div><h3 class="card-title">{{post.subject}}</h3></div>
            <hr>
            <div><h5 class="card-subtitle ml-2">{{post.content}}</div>
          </div>
    </div>
    </body>




    </html>
    {% endblock content%}
