{% extends './global_template.html' %}
{% block content %}

<div class="row" style = "margin-top:100px">
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
        <h1 class = "display-4" >Student Profile Page</h1>
        <div style = "margin-top:50px">
            <div class="shadow-sm p-3 mb-5 bg-white rounded">Name: {{profile.username}}</div>
            <div class="shadow-sm p-3 mb-5 bg-white rounded">Major: {{profile.major}}</div>
            <form>
            <button formaction = "{% url 'studyforum:courseenrollment' %}" class = "btn btn-block btn-primary">Enroll in a Course</button>
            </form>
            <form style = "margin-top:20px">
            <button formaction = "{% url 'studyforum:courseremoval' %}" class = "btn btn-block btn-primary">Remove a Course</button>
            </form>
            <form style = "margin-top:20px">
            <button formaction = "{% url 'studyforum:coursesubmit' %}" class = "btn btn-block btn-primary">Create a Course</button>
            </form>
            <form style = "margin-top:20px">
            <button formaction = "{% url 'studyforum:editprofile' %}" class = "btn btn-block btn-primary">Edit Profile</button>
            </form>

        <div class="p">
          <div class="card" style = "margin-top: 30px">
  <div class="card-header shadow-sm">
    My Courses
  </div>
    <ul class="list-group list-group-flush">
    {% for course in profile.courses.all %}
    <li class="list-group-item">Course: {{course.name}} Time:{{course.time}} Instructor:{{course.professor}}</li>
    {% endfor %}
  </ul>
</div>
        </div>
    
        <div class="p">
          <div class="card" style = "margin-top: 30px">
              <div class="card-header shadow-sm">
    My Ratings
  </div>
          <h6>Courses you rated a 5: </h6>
              <ul class="list-group list-group-flush">
          {% for course in profile.fives.all %}
              <li class="list-group-item">Course: {{course.name}}</li>
          {% endfor %}
          </ul>
        <div class="p">
          <h6>Courses you rated a 4: </h6>
                      <ul class="list-group list-group-flush">
        {% for course in profile.fours.all %}
              <li class="list-group-item">Course: {{course.name}}</li>
        {% endfor %}
                  </ul>
        </div>
        <div class="p">
          <h6>Courses you rated a 3: </h6>
                                <ul class="list-group list-group-flush">
          {% for course in profile.threes.all %}
                        <li class="list-group-item">Course: {{course.name}}</li>
          {% endfor %}
          </ul>
        </div>
        <div class="p">
          <h6>Courses you rated a 2: </h6>
                                <ul class="list-group list-group-flush">
          {% for course in profile.twos.all %}
                        <li class="list-group-item">Course: {{course.name}}</li>
          {% endfor %}
          </ul>
        </div>
        <div class="p">
          <h6>Courses you rated a 1: </h6>
                                <ul class="list-group list-group-flush">
          {% for course in profile.ones.all %}
                        <li class="list-group-item">Course: {{course.name}}</li>
          {% endfor %}
          </ul>
          </div>
          </div>
        </div>
        </div>
    </div>
    <div class="col-md-5">
<div class="card">
  <div class="card-header display-4 shadow-sm" style = "font-size:60px">
    Active Groups
  </div>
  {% for group in group_list %}
  {% for member in member_list %}
  {% if member.group_id == group.id%}
  {% if member.member_id == user.id %}
  <div class="card-body" style = "border-bottom:solid">
    <blockquote class="blockquote mb-0">
      <p>{{group.group_name}}</p>
      <footer>{{group.group_description}}</footer>
    </blockquote>
  </div>
  {% endif %}
  {% endif %}
  {% endfor%}
  {% endfor %}
</div>
    </div>
    <div class="col-md-1">

    </div>
</div>
{% endblock %}