{% extends './global_template.html' %}
{% block content %}

<div class="row" style = "margin-top:100px">
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
        <h1>Student Profile Page</h1>
        <div style = "margin-top:50px">
        <div class="p">
            Name: {{profile.username}}
        </div>
        <div class="p">
            Major: {{profile.major}}
        </div>
        <div class="p">
            Courses: 
            {% for course in user.courses.all %}
            <li>{{course.name}} {{course.time}}  {{course.professor}}</li>
            {% endfor %}
        </div>
        <div class="p">
          Courses you rated a 5: 
          {% for course in user.fives.all %}
          <li>{{course.name}}</li>
          {% endfor %}
        </div>
        <div class="p">
        Courses you rated a 4: 
        {% for course in user.fours.all %}
        <li>{{course.name}}</li>
        {% endfor %}
        </div>
        <div class="p">
          Courses you rated a 3: 
          {% for course in user.threes.all %}
          <li>{{course.name}}</li>
          {% endfor %}
        </div>
        <div class="p">
          Courses you rated a 2: 
          {% for course in user.twos.all %}
          <li>{{course.name}}</li>
          {% endfor %}
        </div>
        <div class="p">
          Courses you rated a 1: 
          {% for course in user.ones.all %}
          <li>{{course.name}}</li>
          {% endfor %}
        </div>
        </div>
    </div>
    <div class="col-md-5">
<div class="card">
  <div class="card-header" style = "font-size:60px">
    Active Groups
  </div>
  <div class="card-body" style = "border-bottom:solid">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
    <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>


</div>
    </div>
    <div class="col-md-1">

    </div>
</div>
{% endblock %}