{% extends './global_template.html' %}

{% block content %}
<h1>Received messages</h1> 
<div class = "row">
  <div class ="col-md-4"></div>
  <div class = "col-md-4">
        {% for message in message_list %}
        <div class="card z-depth-0 bordered">
                <div class="card-header">
                  <h1>
                  Username: {{message.sender}}
                  </h1>
                </div>
                <div class="card-body" id ="card-four">
                  Content: {{message.content}}
                  <!--ID: {{message.id}}-->
                </div>
              </div>
        {% endfor %}
        </div>
        <div class = "col-md-4"></div>
  </div>
    {% endblock%}