{% extends './global_template.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Document</title>
</head>
<body>
<div class = "col-md-4"></div>
<div style="margin-bottom: 30px" class="column-positioning col-md-4">
    <h1>Received Chats</h1>
</div>

<form action = "{% url 'studyforum:sendmessage' %}" method = "post">
    {% csrf_token %}
    <div class="row column-positioning">
        <div class="col-md-6">
            <label>Sending message from:</label>
            <select class="form-control" name="sender">
                <option>{{user.socialaccount_set.all.0.extra_data.name}}</option>
            </select>
            <label>To receiver:</label>
            <input type='text' class="form-control" name="receiver">
            </input>
        </div>
    </div>
    <div class="row column-positioning">    
        <div class="col-md-6">
            <label> Type Post Content Here </label>
            <textarea class="form-control" id="text-area" name="message">
  </textarea>
        </div>
    </div>
    <div class="row check-box-row">
        <div class="col-md-6">
            <button type="submit" style="margin-top:10px" class="btn btn-dark" id="send-chat" name="send-chat-button">Send chat</button>
        </div>
    </div>
</form>
</body>
</html>

{% endblock %}
